data/resources/
output/
software/
.zip
.gz
GoogleNews-vectors-negative300.bin.gz
/src/java/QAExplainSVMRank/nbproject/private/
data/dev.dat
data/dev.zip
data/dev-group.dat
data/dev-group.zip
data/train.dat
data/train.zip
data/train-group.dat
data/train-group.zip
data/ids.dat
data/ids-group.dat
